.checkout {
    fill-opacity: 0.4;
    stroke: #fff;
    stroke-width: 0.5;
    stroke-opacity: 0.6;
}

body {
    font-family: "Open Sans";
    margin: 0;
    background-color: #fffdd0;
}

#main {
    margin: 0;
}

.x-axis line {
  stroke: black;
}

.x-axis path {
  stroke: black;
}

.y-axis line {
  stroke: black;
}

.y-axis path {
  stroke: black;
}
